.txcm-consolidatedGraphAxes {
  position: absolute;
  top: 24px;
  bottom: 24px;
  width: 100%;

  &-is-expanded {
    @extend %txph-consolidatedGraphAxes-is-expanded;
  }
}

$txcm-consolidatedGraphAxis-color: $txgl-gray-300;

.txcm-consolidatedGraphAxis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, $txcm-consolidatedGraphAxis-color, $txcm-consolidatedGraphAxis-color 2.5px, transparent 2.5px, transparent 5px);
  background-size: 5px 100%;

  &-top {
    top: 0;
  }

  &-top25 {
    top: 37.5%;
  }

  &-top50 {
    top: 25%;
  }

  &-top75 {
    top: 12.5%;
  }

  &-middle {
    top: 50%;
    background: $txcm-consolidatedGraphAxis-color;
  }

  &-bottom {
    bottom: 0;
  }

  &-bottom25 {
    bottom: 37.5%;
  }

  &-bottom50 {
    bottom: 25%;
  }

  &-bottom75 {
    bottom: 12.5%;
  }

  &-top25,
  &-top50,
  &-top75,
  &-bottom25,
  &-bottom50,
  &-bottom75 {
    opacity: 0;
    transition: $txgl-transition-default;

    %txph-consolidatedGraphAxes-is-expanded & {
      opacity: 1;
    }
  }
}
